#if !defined(Q_CC_BOR)
# if defined(UNDER_CE) && UNDER_CE >= 400
#  include <winbase.h>
# else
#  include <winver.h>
# endif
#endif

// ===================== Resources =====================
// Version Info:
#define CONFIG_WINRC_FILEVERSION 1,0,0,0
#define CONFIG_WINRC_PRODUCTVERSION 1,0,0,0
#define CONFIG_WINRC_FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
# define CONFIG_WINRC_FILEGLAGS 0x1L			// DEBUG
#else
# define CONFIG_WINRC_FILEGLAGS 0x0L			// None
#endif
#define CONFIG_WINRC_FILEOS 0x4L				// 0x4L = WINDOWS32 (32-bit windows)
#define CONFIG_WINRC_FILETYTPE 0x2L				// 0x2L = DLL, 0x4L = APP
#define CONFIG_WINRC_FILESUBTYTPE 0x0L			// Unknown

// Version Info Strings:
#define CONFIG_WINRC_STR_FILEINFO_COMMENTS "\0"
#define CONFIG_WINRC_STR_FILEINFO_COMPANYNAME "Andromeda project\0"
#define CONFIG_WINRC_STR_FILEINFO_FILEDESCRIPTION "Qt ICNS format plugin\0"
#define CONFIG_WINRC_STR_FILEINFO_FILEVERSION "1,0,0,0\0"
#define CONFIG_WINRC_STR_FILEINFO_INTERNALNAME "QIcns\0"
#define CONFIG_WINRC_STR_FILEINFO_LEGALCOPYRIGHT "(c) Andromeda project, 2013\0"
#define CONFIG_WINRC_STR_FILEINFO_LEGALTRADEMARKS "\0"
#define CONFIG_WINRC_STR_FILEINFO_ORIGINALFILENAME "qicns.dll\0"
#define CONFIG_WINRC_STR_FILEINFO_PRIVATEBUILD "\0"
#define CONFIG_WINRC_STR_FILEINFO_PRODUCTNAME "Qt ICNS format plugin\0"
#define CONFIG_WINRC_STR_FILEINFO_PRODUCTVERSION "1.0\0"
#define CONFIG_WINRC_STR_FILEINFO_SPECIALBUILD "\0"

//Version Info Vars:
#define CONFIG_WINRC_VAR_FILEINFO_TRANSLATION_LANGID 0x0000    //International
#define CONFIG_WINRC_VAR_FILEINFO_TRANSLATION_CHARSETID 0x04B0 //Unicode

VS_VERSION_INFO VERSIONINFO
 FILEVERSION CONFIG_WINRC_FILEVERSION
 PRODUCTVERSION CONFIG_WINRC_PRODUCTVERSION
 FILEFLAGSMASK CONFIG_WINRC_FILEFLAGSMASK
 FILEFLAGS CONFIG_WINRC_FILEGLAGS
 FILEOS CONFIG_WINRC_FILEOS
 FILETYPE CONFIG_WINRC_FILETYTPE
 FILESUBTYPE CONFIG_WINRC_FILESUBTYTPE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", CONFIG_WINRC_STR_FILEINFO_COMMENTS
            VALUE "CompanyName", CONFIG_WINRC_STR_FILEINFO_COMPANYNAME
            VALUE "FileDescription", CONFIG_WINRC_STR_FILEINFO_FILEDESCRIPTION
            VALUE "FileVersion", CONFIG_WINRC_STR_FILEINFO_FILEVERSION
            VALUE "InternalName", CONFIG_WINRC_STR_FILEINFO_INTERNALNAME
            VALUE "LegalCopyright", CONFIG_WINRC_STR_FILEINFO_LEGALCOPYRIGHT
            VALUE "LegalTrademarks", CONFIG_WINRC_STR_FILEINFO_LEGALTRADEMARKS
            VALUE "OriginalFilename", CONFIG_WINRC_STR_FILEINFO_ORIGINALFILENAME
            VALUE "PrivateBuild", CONFIG_WINRC_STR_FILEINFO_PRIVATEBUILD
            VALUE "ProductName", CONFIG_WINRC_STR_FILEINFO_PRODUCTNAME
            VALUE "ProductVersion", CONFIG_WINRC_STR_FILEINFO_PRODUCTVERSION
            VALUE "SpecialBuild", CONFIG_WINRC_STR_FILEINFO_SPECIALBUILD
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", CONFIG_WINRC_VAR_FILEINFO_TRANSLATION_LANGID, CONFIG_WINRC_VAR_FILEINFO_TRANSLATION_CHARSETID
    END
END
